################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcMovie/FileContentIndex/df564a89-8c8e-48ef-a2d0-efce5c4be712.vsidx
/.vs/MvcMovie/FileContentIndex/df564a89-8c8e-48ef-a2d0-efce5c4be712.vsidx
